html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    background-color: black;
}

.board {
    height: 70vh;
    width: 70vh;
    border: 2px solid rgb(255, 255, 255);
    display: grid;
    grid-template: repeat(32, 1fr) / repeat(32, 1fr);
background-image: linear-gradient(to right bottom, #ffff00, #ffda00, #ffb500, #ff8f00, #ff6700, #ff5022, #ff3435, #ff0046, #fe006a, #e90098, #b600cd, #0013ff);
}

.grid {
    border: 0.5px solid rgb(49, 49, 49);
    background-color: rgb(1, 1, 58);
}

.grid.alive {
    background-color: rgba(255, 255, 255, 0);
    
}

button {
    height: 50px;
    width: 200px;
    background-color: greenyellow;
    font-size: 20px;
    border-radius: 20px;
}

@media screen and (max-width: 600px) {
  .board {
    height: 40vh;
    width: 40vh;
  }
}